.overlay {
    width: 100%;
    height: 100vh;
    background-color: #0000004D;
    position: fixed;
    top: 0px;
    margin-top: 0px;
}

.banner {
    display: flex;
    justify-content: center;
    background-color: #000;
    color: white;
    padding: 20px;
    gap: 10px;
}

.banner_title {
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.edit {
    cursor: pointer;
}

.edit_mode {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 30px;
    margin-top: 100px;
    gap: 10px;
}

.edit_logo {
    width: 15.58px;
    height: 15.58px;
    margin-left: 15px;
    margin-right: 7px;
}

.close_button {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 20px;
    top: 20px;

}


.modale{
    position: fixed;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 630px;
    height: 688px;
    background-color: white;
    border-radius: 10px;

}


.modale_second {
    position: fixed;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 630px;
    height: 688px;
    background-color: white;
    border-radius: 10px;
    display: none;
}

.modale.active {
    display: block;
}

.modale_second.active {
    display: block;
}

.banner.active {
    display: flex;
}

.inactive {
    display: none;
}

.modale_title {
    display: flex;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: "Work Sans";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 3.5rem;
    padding-bottom: 2.5rem;
}

.modale_body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modale_body article {
    display: flex;
    flex-basis: calc(20% - 20px); /* Prend 20% de la ligne (5 images par ligne) moins l'espacement */
    padding-bottom: 35px;
}

.modale_body img {
    width: 78.879px;
    height: 105.34px;
    object-fit: cover; 
}

.modale_footer input{
    display: flex;

}

.modale_body .svg-overlay {
    position: relative;
    right: 19px;
    top: 8px;
    z-index: 999;

}
.modale_body .svg-overlay-background {
    position: relative;
    top: 5px;
    right: 32px;
    fill: black;
    
}

input[type="submit"] {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    padding: 10px;
    width: 180px;
    text-align: center;
    border-radius: 60px;
    border: none;
    margin-top: 40px;
    cursor: pointer;
}

.add_picture {
    font-family: 'Syne';
    font-weight: 700;
    color: #306685;
    background-color: #CBD6DC;
    margin: 45px auto;
    padding: 10px;
    width: 180px;
    text-align: center;
    border-radius: 60px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.add_picture input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.add_picture p {
    margin: 0;
}

input[type="file"] {
    z-index: 0;
}

.validate{
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #A7A7A7;
    margin: 2em auto;
    padding: 10px;
    width: 180px;
    text-align: center;
    border-radius: 60px;
    border: none;
}

#title,
#categorie {
    width: 455px;
height: 51px;
background: #FFF;
box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
border: none;
margin: 15px;
}


.line {
    width: 73%;
    border: 1px solid #B3B3B3;
    margin-top: 40px;
    margin: 20px auto;
}

.arrow-back {
    position: relative;
    top: 20px;
    left: 20px;
}
.square_picture {
    border: 1px solid #E8F1F6;
    padding: 50px;
    background-color: #E8F1F6;
    width: 360px;
    height: 86px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}

#previewImage {
    width: 42%;
    height: 100%;
    object-fit: cover; /* L'image remplit la zone sans se déformer */
    position: absolute;
    top: 0;
    left: 141px;
    display: none;
}


.logo_picture {
    display: flex;
    margin: -34px auto;
}

.info_picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

    .type_picture {
        display: flex;
        justify-content: center;
        /* padding-bottom: 9px; */
        position: absolute;
        bottom: 22rem;
        left: 18em;
    }
/* Style du bouton désactivé */
.validate {
    background-color: grey;
    cursor: not-allowed;
    color: white;
    pointer-events: none; /* Empêche le clic */
}

/* Style du bouton activé (lorsque le formulaire est rempli) */
.validate.active {
    background-color: green;
    cursor: pointer;
    pointer-events: all; /* Autorise le clic */
}

