
#banner {
    display: flex;
    justify-content: center;
    background-color: #000;
    color: white;
    padding: 20px;
    gap: 10px;
}

.banner_title {
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.edit_mode {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 30px;
    margin-top: 100px;
    gap: 10px;
}

.edit_logo {
    width: 15.58px;
    height: 15.58px;
    margin-left: 15px;
}

.close_button {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 20px;
    top: 20px;

}


.modale {
    position: fixed;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 630px;
    height: 688px;
    background-color: white;
    border-radius: 10px;
    display: none;

}
.modale.active {
    display: block;
    
}

.modale.inactive {
    display: none;
}

.modale_title {
    display: flex;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: "Work Sans";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 3.5rem;
    padding-bottom: 2.5rem;
}

.modale_body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modale_body article {
    display: flex;
    flex-basis: calc(20% - 20px); /* Prend 20% de la ligne (5 images par ligne) moins l'espacement */
    padding-bottom: 35px;
}

.modale_body img {
    width: 78.879px;
    height: 105.34px;
    object-fit: cover; 
}

.modale_footer input{
    display: flex;

}

.modale_body .svg-overlay {
    position: relative;
    right: 19px;
    top: 8px;
    z-index: 999;

}
.modale_body .svg-overlay-background {
    position: relative;
    top: 5px;
    right: 32px;
    fill: black;

}

input[type="submit"] {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    padding: 10px;
    width: 180px;
    text-align: center;
    border-radius: 60px;
    border: none;
}
hr {
    width: 70%;
    border-color: #B3B3B3;
    margin-top: 30px;
    margin-bottom: 39px;
}